interpreter.py
/data/long_peptide
data/deiso/Covariance_Data_CecropinA_Z6_NCE20_200_ions_Deisotoped
data/deiso/Covariance_Data_GLP2-Z4_NCE15_200_ions_Deisotoped
data/deiso/Covariance_Data_LL37-Z6_NCE33_250_ions_Deisotoped
data/deiso/Covariance_Data_Neuropeptide-Z6_NCE25_170_ions_Deisotoped
data/deiso/v2/DEISOTOPING_V2/Covariance_Data_CecropinA_Z6_NCE20_200_ions_Deisotoped_V2
data/deiso/v2/DEISOTOPING_V2/Covariance_Data_LL37-Z6_NCE33_250_ions_Deisotoped_V2
data/deiso/v2/DEISOTOPING_V2/Covariance_Data_Myoglobin-Z19_NCE35_250_ions_Deisotoped_FirstAttempt
data/deiso/v2/DEISOTOPING_V2/Covariance_Data_Neuropeptide-Z6_NCE25_170_ions_Deisotoped_V2
